section {
    scroll-margin-top: 70px;
  }
  
html {
  scroll-behavior: smooth;
}

#contact {
    min-height: 63vh;
  }

  @media (max-width: 768px) {
    #contact {
      min-height: 71vh; /* Ensure the contact section takes up enough space on mobile */
    }
  }
  
  
 
  

